<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sample-suite">
    <listeners>
        <listener class-name="listeners.TestRetryAnalyzerListener"/>
<!--        <listener class-name="listeners.TestRetryAnalyzer"/>-->
    </listeners>
    <test name="sample-test" parallel="classes" thread-count="4">
        <classes>
            <class name="SwagLabsDataDriven"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->